
.title {
    text-align: center;
}
.login-form {
    border-radius: 10px;
    border:2px solid black;
    margin-top: 79px;
    margin-right: 38%;
    margin-left:38%;
    height:320px;
    background-color: rgba(191, 102, 216, 0.774);
}
.login-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 30px;
}
.login-field {
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    
}
.form-label {
    display: inline-block;
	width: 80px;
	text-align: start;
    font-weight: 700;
}
.input-box {
    border-radius: 35px;
    border: 2px solid black;
    outline: none;
    padding: 3px 0 3px 8px;
}

.submit-btn {
    border-radius: 35px;
    padding: 3px 30px 3px 30px;
    margin: 22px 0 0 20%;
    background-color: #14c914c4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 2px solid black;
    outline: none;
    color:white
}

.signup-link {
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}
.signup-form{
    text-align: center;
    line-height: 40px;
}
.label-form{
    display: inline-block;
	width: 150px;
	text-align: start;
}
.reg-btn{
    color: white;
    background-color: rgb(39, 28, 196);
    border-radius: 30px;
    outline: none;
    padding: 4px 15px 4px 15px;
    margin: 20px 0 0 9%;
    border: none;
}
.hm-btn{
    color: white;
    background-color: rgb(221, 17, 143);
    border-radius: 30px;
    outline: none;
    padding: 4px 20px 4px 20px;
    border: none;
    margin: 120px 0 0 80%;
}
.back-btn{
    text-decoration: none;
    color: white;
}
